
.grid{
    margin: 5vh
}

#controls_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
  }

button.djikstra_button {
    height: 50px;
<<<<<<< Updated upstream
    width: 50px;
    margin: 10px;
    /* background-size: cover;
    background-position: center;
    border: none; */
=======
    background-color: #87A330;
    border-color: rgba(0,0,0,0);
    font-size: larger;
    width: 200px;
    box-shadow: 0 11px 10px rgba(0,0,0,0.6);
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#gridcontainer {
    height: auto ;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#algo_description_container {
    display:flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

#algo_description {
    margin-top: 20px;
    padding: 20px;
    height: 80px;
    width: 500px;
    background-image: url(../assets/oaksign.webp);
    background-size: contain;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#algo_description.shake {
    animation: shake 0.3s ease;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    800% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

#dropdown-container {
    width: 200px;
    background-color: #87A330;
    padding: 10px;
    overflow: visible;
    box-shadow: 0 11px 10px rgba(0,0,0,0.6)
}

h1.sign {
    padding: 6px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

p.sign {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

#timer-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/oaksign.webp);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}
  
#algorithm-timer, #animation-timer {
    margin: 10px 20px;
    padding: 0 10px 0 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    font-size: large;
}

p.time {
    margin-top: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
>>>>>>> Stashed changes
}