
.grid{
    margin: 5vh
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
  }

button.djikstra_button {
    height: 50px;
    width: 50px;
    margin: 10px;
    /* background-size: cover;
    background-position: center;
    border: none; */
}