
.grid{
    margin: 5vh
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

button.djikstra_button {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    border: none;
}